.intro {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-top: 120px;
    padding-bottom: 40px;
    background-color: $primary;
    padding-left: 1rem;
    @include media-breakpoint-up(sm) {
        padding-top: 160px;
    }
    @include media-breakpoint-up(md) {
        padding-top: 160px;
        padding-left: 0;
    }
    @include media-breakpoint-up(lg) {
        padding-top: 160px;
        padding-left: 0;
    }
    .container {
        animation-name: floating, opacity-occur;
        animation-duration: 1.5s;
        animation-timing-function: ease;
    }
    h1 {
        color: #ffffff;
        font-size: 2.4rem;
        line-height: 1.2;
        font-family: $font-family-heading;
        width: 80%;
        @include media-breakpoint-up(sm) {
            width: 70%;
        }
        @include media-breakpoint-up(md) {
            font-size: 3rem;
            width: 70%;
        }
        @include media-breakpoint-up(lg) {
            font-size: 3rem;
            width: 70%;
        }
    }
    p {
        width: 70%;
        font-size: 1.1rem;
        font-weight: lighter;
        line-height: 1.4;
        color: $secondary;
        // @include media-breakpoint-up(sm) {
        //     width: 70%;
        // }
        // @include media-breakpoint-up(md) {
        //     width: 60%;
        // }
        // @include media-breakpoint-up(lg) {
        //     width: 70%;
        // }
    }
}

.intro-small {
    padding-top: 100px;
    padding-bottom: 30px;
}

.CarouselWrapper {
    width: 100%;
    @include media-breakpoint-up(md) {
        display: flex;
        margin-bottom: 0;
    }
    .CarouselText {
        margin-bottom: 2rem;
    }
    .Carousel {
        margin: 0 auto;
        // width: 300px;
    }
    .pointColor {
        color: $primary;
    }
}

.btn-container {
    display: flex;
    justify-content: center;
}

.CertificatesWrapper {
    display: flex;
    .HoverableCard {
        // width: 100%;
        margin-right: 20px;
        :last-child {
            margin-right: 0;
        }
    }

    .CertificatesImageWrapper {
        width: 100%;
    }
}

@keyframes floating {
    from {
        transform: translate(0, 15px);
    }
    to {
        transform: translate(0, 0px);
    }
}

@keyframes opacity-occur {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
