.storiesContainer {
    line-height: 2;
    h2 {
        font-size: 1.5rem;
        svg {
            color: $primary;
            margin-right: 0.5rem;
        }
    }
    ul {
        list-style: none;
    }
    .story-box {
        display: flex;
        flex-direction: column-reverse;
        @include media-breakpoint-up(md) {
            flex-direction: row;
        }
    }
    .story {
        width: 100%;
        padding: 0 1rem;
        @include media-breakpoint-up(md) {
            width: 80%;
            padding-right: 2rem;
        }
    }
    .storyImage {
        width: 200px;
        margin: 0 auto;
        @include media-breakpoint-up(md) {
            width: 20%;
            padding-top: 3rem;
        }
    }
    .storyTitle {
        margin-top: 1rem;
        @include media-breakpoint-up(md) {
            margin-top: 0;
        }
    }
    .storySubTitle {
        font-size: 1.1rem;
        color: darken($primary, 10%);

        margin: 0.5rem 0;
    }
}
